html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {

  font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}


.content {
  padding: 0px 15px;
  margin: 0 auto;
  width: 970px;
  
}

.top-navigation {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}

.top-navigation .content {
  
  height: 70px;

}

.top-navigation .links {
  float: right;

  color: #838994;
  font-size: 16px;
  margin-top: 25px;

}

.top-navigation .links  li {
  display: inline-block;
  margin-left: 25px;
}

.top-navigation .links .active {
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links li:hover {
  color: #333333;
  cursor: pointer;
}

.logo {
  margin-left: 14px;
  height: 70px;
}

.introduction {
  background-image: url('../images/first-background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 599px;
  background-position: 0 bottom;
  background-position-x: 50%;
  backgroung-position-y: 100%;
  overflow: auto;

}

.introduction h1 {
  margin-top: 17.5rem;
  font-size: 3.125rem;
}

.introduction h1, 
.introduction h3 {
  color: white;
  text-align: center;
  font-weight: 300;
}

.cases {
  padding-bottom: 5rem;
}

.cases  h2 {
  margin-top: 1.65rem;
  margin-bottom: 3.125rem;
  color: black;
  text-align: center;
  font-weight: 300;
  font-size: 2.75rem;
}

.cases .devices h3 {
  margin: 2.5rem 0 px 1.875rem;
  font-wight: 400;
  font-size: 1.563rem;
}

.cases .devices {
  width: 33.3333333%;
  display: inline-block;
  box-sizing: border-box;
  height: 4em;
  text-align: center;
}

h3 {
  font-weight: 400;
}

.cases .devices > li {
  width: 33.3333333%;
  float: left;
  font-style: inherit;
}

h5 {
  display: block;
  -webkit-margin-before: 1.67em;
  -webkit-margin-after: 1.67em;

}

.cases .content {
  margin-top: 7.87rem;
  color: #1d1e21;
}

.content .icons {
  width: 33.333333%;
  text-align: center;
  display: inline-block;
}

.social {
  text-align: center;
  overflow: auto;
  paddint
}

.social hr {
  border-top: 1px solid  #eaebec;
  margin: 1.313rem 0;
}

.social h5,
.social .copy {
  -webkit-margin-before: 1.67em;
  -webkit-margin-after: 1.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: 300;
  text-align: center;
}

.social .copy {
  font-size: 0.9rem;
  font-weight: 300;
  color: #838994;
}

.social .icons > li {
  border-radius: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  margin: 1.25rem 5px;
  border: 1px solid #eaebec;
  padding: 0.625rem 0;
  text-align: center;
}
ul {
  list-style: none;
}

.social .twitter {
  color: #55acee;
}

.social .facebook {
  color: #4c66a4;
}

.social .instagram {
  color: #3f729b;
}

.fa-twitter:before {
  content: "\f099";
}

button {
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  width: 9.688rem;
  color: white;
  font-size: 1.125rem;
  display: block;
  margin: 0 auto;
  margin-top: 1.563rem;
  background-color: #f15a29;
  border-color: #f15a29;
}

button:hover {
  background-color: #d9400e;
  border-color: #cf3d0e;
  cursor: pointer;
}