html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: LightGray;
}

div {
  border: 1px solid Chocolate;
}

.content {
  padding: 0px 15px;
  font-family: 'Roboto', sans-serif;
}

.top-navigation {
  background-color: #fff;
}
.top-navigation > .content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
}

.links {
  float: right;
}

.links > li {
  display: inline-block;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.0em;
  margin-top: .5em;
  margin-left: 2rem;
}

.logo {
  margin-left: 14px;
  height: 70px;
}


