html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: LightGray;
  font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

div {
  border: 1px solid Chocolate;
}

.content {
  padding: 0px 15px;
  margin: 0 auto;
  width: 970px;
  
}

.top-navigation {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}

.top-navigation .content {
  
  height: 70px;

}

.top-navigation .links {
  float: right;

  color: #838994;
  font-size: 16px;
  margin-top: 25px;

}

.top-navigation .links  li {
  display: inline-block;
  margin-left: 25px;
}

.top-navigation .links .active {
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links li:hover {
  color: #333333;
  cursor: pointer;
}

.logo {
  margin-left: 14px;
  height: 70px;
}

.introduction {
  background-image: url('../images/first-background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 599px;
  background-position: 0 bottom;
  background-position-x: 50%;
  backgroung-position-y: 100%;
  overflow: auto;

}

.introduction h1 {
  margin-top: 17.5rem;
  font-size: 3.125rem;
}

.introduction h1, 
.introduction h3 {
  color: white;
  text-align: center;
  font-weight: 300;
}

.cases  h2 {
  margin-top: 1.65rem;
  margin-bottom: 3.125rem;
  color: black;
  text-align: center;
  font-weight: 300;
  font-size: 2.75rem;
}

.cases h3 {
  color: black;
  text-align: center;
  font-wight: 400;
  font-size: 25.008px;
}

.cases .devices {
  width: 33.3333333%;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  height: 4em;
  margin-right: -4px;
}

.cases .content {
  margin-top: 7.87rem;
  color: #1d1e21;
}

button {
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  width: 9.688rem;
  color: white;
  font-size: 1.125rem;
  display: block;
  margin: 0 auto;
  margin-top: 1.563rem;
  background-color: #f15a29;
  border-color: #f15a29;
}

button:hover {
  background-color: #d9400e;
  border-color: #cf3d0e;
  cursor: pointer;
}